<div class="card">
    <div class="card-header">ID : <b><%= user.id %></b></div>
    <div class="card-body">
        <p>Email - <%= link_to user.email, user_path(user) %></p>
        <p>Sign In Count - <%= user.sign_in_count %></p>
        <p>Last Sign In Time - <%= user.last_sign_in_at %></p>
        <p>Last Sign In IP - <%= user.last_sign_in_ip %></p>
        <p>Current Sign In IP - <%= user.current_sign_in_ip %></p>
        <p>Current User Sign Up Through - <%= user.provider %></p>
        <p>Current User UID - <%= user.uid %></p>
    </div>
    <div class="card-footer">
        Confirmed? : <span class="badge rounded-pill bg-primary"><%= user.confirmed? %></span>
    </div>
</div>